<!doctype html>
<html lang="en">

<head>
	<title>Admin Page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
<!--
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
-->
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="admin.html">Admin</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<a type="button" class="btn-toggle-fullwidth" href="index.html"><i class="lnr lnr-arrow-left-circle"></i></a>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li class="navLink"><a class="active" id="home"><i class="lnr lnr-home"></i> <span>Upload File</span></a></li>
                        <li class="navLink"><a id="ips"><i class="glyphicon glyphicon-globe"></i> <span>Ip Info</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-7">
									<span class="icon"><i class="fa fa-upload"></i></span>
									<form  method="POST" enctype="multipart/form-data">
										<input type="file" name="file" />
										<input type="submit" value = "Upload">
									</form>
								</div>
								<p id="uploadStatus"></p>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
					<!-- Home Made Section -->
					<section>
						<div class="row" id="mainRow">
							<div id="mainNavigation"></div>
							<div id="sideNavigation"></div>
						</div>
					</section>

		<div class="clearfix"></div>
	</div>
	</div>
</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
</body>

</html>
